.tag-wrapper {
  flex: none;
  margin: 2px 8px 6px 0;
  padding: 1px 14px 3px;
  border-radius: 16px;
  line-height: 1.25em;
  white-space: nowrap;
  background: #dcdcde;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

.tag-close-icon {
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  top: -7px;
  right: 0px;
  display: none;
}

.tag-wrapper:hover > .tag-close-icon {
  display: block;
}

.tag-close-icon > img {
  width: 100%;
}
