.card-wrapper {
  /* width: 5rem; */
  /* height: 2rem; */
  border-radius: 0.4rem;
  border: 0.12rem grey;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}
.task-name {
  padding: 0.5rem;
}

.task-desc {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
