.header-container {
  display: flex;
  height: 6rem;
  padding: 0 0.5rem;
  background: #ea99d5;
  box-shadow: 1px 8px 15px 1px #ea99d5;
  position: sticky;
}

.header-content-wrapper {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
