.side-bar-wrapper,
.hide {
  position: absolute;
  top: 0;
  right: -100%;
  opacity: 0;
  display: none;

  display: flex;
  flex-direction: column;

  width: 20rem;
  height: 100%;
  padding: 1rem;
  background: #b762c1ad;
  border: 1px solid black;
  z-index: 1;
  transition: all 1s ease;
}

.show {
  right: 0;
  opacity: 1;
}

.task-form-wrapper {
  padding: 0.5rem;
  margin-top: 2rem;
}

.submit-btn-wrapper {
  padding: 1rem;
}

.circle {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.close-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.tag-section {
  padding: 1rem;
  width: 100%;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.close-icon > img {
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem 0.6rem;
  outline: none;
  width: 100%;
  font: 600 1rem LuxRoman;
  letter-spacing: 0.09rem;
}

.description-textarea {
  height: 200px;
  resize: none;
}

.submit-btn {
  border: none;
  outline: none;
}
